* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif; }

.container {
  margin: 230px 12%  120px; }
  @media screen and (max-width: 767px) {
    .container {
      margin: 120px 12% 30px; } }
  @media screen and (max-width: 450px) {
    .container {
      margin: 80px 0 40px; } }

header {
  position: relative;
  z-index: 1000; }
  header .desktop-menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0; }
    header .desktop-menu .header-top {
      width: 100vw;
      height: 50px;
      padding: 0 90px;
      background-color: #383838;
      display: flex;
      justify-content: space-between; }
      @media screen and (max-width: 1060px) {
        header .desktop-menu .header-top {
          padding: 0 45px; } }
      @media screen and (max-width: 767px) {
        header .desktop-menu .header-top {
          display: none; } }
      header .desktop-menu .header-top .top-left-menu-item {
        width: 70%;
        margin-left: 12%; }
        header .desktop-menu .header-top .top-left-menu-item ul li {
          display: inline;
          font-size: 14px;
          color: white;
          letter-spacing: 0;
          line-height: 50px;
          margin-left: 3.5%; }
          @media screen and (max-width: 1270px) {
            header .desktop-menu .header-top .top-left-menu-item ul li {
              font-size: 10px; } }
      header .desktop-menu .header-top .top-right-menu-item {
        display: flex;
        justify-content: space-between;
        width: 230px; }
        @media screen and (max-width: 1270px) {
          header .desktop-menu .header-top .top-right-menu-item {
            width: 150px; } }
        header .desktop-menu .header-top .top-right-menu-item div {
          line-height: 50px;
          font-size: 14px;
          color: white; }
          @media screen and (max-width: 1270px) {
            header .desktop-menu .header-top .top-right-menu-item div {
              font-size: 10px; } }
          header .desktop-menu .header-top .top-right-menu-item div.search {
            background-color: white;
            padding: 0 32px;
            color: #383838;
            font-size: 20px; }
            @media screen and (max-width: 1270px) {
              header .desktop-menu .header-top .top-right-menu-item div.search {
                font-size: 15px; } }
    header .desktop-menu .header-bottom {
      padding: 20px 90px;
      display: flex;
      background-color: white; }
      @media screen and (max-width: 1060px) {
        header .desktop-menu .header-bottom {
          padding: 20px 45px; } }
      @media screen and (max-width: 767px) {
        header .desktop-menu .header-bottom {
          display: none; } }
      header .desktop-menu .header-bottom .logo img {
        max-width: 180px; }
        @media screen and (max-width: 1024px) {
          header .desktop-menu .header-bottom .logo img {
            display: none; } }
      header .desktop-menu .header-bottom .bottom-left {
        display: flex;
        justify-content: space-between;
        margin-left: 3.7vw;
        width: 100%; }
        header .desktop-menu .header-bottom .bottom-left .bottom-left-menu-item {
          width: 70%; }
          header .desktop-menu .header-bottom .bottom-left .bottom-left-menu-item .menu-it {
            display: inline;
            font-size: 20px;
            color: #383838;
            letter-spacing: 0;
            line-height: 40px;
            margin-right: 4.7%;
            padding-bottom: 25px; }
            @media screen and (max-width: 1270px) {
              header .desktop-menu .header-bottom .bottom-left .bottom-left-menu-item .menu-it {
                font-size: 15px; } }
            header .desktop-menu .header-bottom .bottom-left .bottom-left-menu-item .menu-it.active {
              border-bottom: 1px solid #FF5201; }
        header .desktop-menu .header-bottom .bottom-left .bottom-right-menu-item {
          display: flex;
          justify-content: space-between;
          font-size: 20px;
          color: #383838;
          letter-spacing: 0;
          line-height: 40px; }
          @media screen and (max-width: 1270px) {
            header .desktop-menu .header-bottom .bottom-left .bottom-right-menu-item {
              font-size: 15px; } }
          header .desktop-menu .header-bottom .bottom-left .bottom-right-menu-item .icons {
            display: flex;
            justify-content: space-between;
            color: #FF5201; }
            header .desktop-menu .header-bottom .bottom-left .bottom-right-menu-item .icons i {
              line-height: 40px;
              margin-left: 37px;
              font-size: 22px; }
              @media screen and (max-width: 1270px) {
                header .desktop-menu .header-bottom .bottom-left .bottom-right-menu-item .icons i {
                  font-size: 17px;
                  margin-left: 20px; } }
    header .desktop-menu .drop-menu-desktop-wrapper {
      display: none; }
      header .desktop-menu .drop-menu-desktop-wrapper .drop-menu-desktop {
        width: 100%;
        background-color: white;
        position: absolute;
        padding: 70px 11%;
        display: flex;
        justify-content: space-between; }
        header .desktop-menu .drop-menu-desktop-wrapper .drop-menu-desktop .drop-menu-desktop-text {
          width: 60%; }
          header .desktop-menu .drop-menu-desktop-wrapper .drop-menu-desktop .drop-menu-desktop-text h2 {
            font-size: 2.1vw;
            color: #383838;
            letter-spacing: 0;
            line-height: 2.1vw; }
          header .desktop-menu .drop-menu-desktop-wrapper .drop-menu-desktop .drop-menu-desktop-text .drop-menu-desktop-item {
            width: 100%;
            display: flex;
            margin-top: 50px; }
            header .desktop-menu .drop-menu-desktop-wrapper .drop-menu-desktop .drop-menu-desktop-text .drop-menu-desktop-item .drop-menu-desktop-item-left, header .desktop-menu .drop-menu-desktop-wrapper .drop-menu-desktop .drop-menu-desktop-text .drop-menu-desktop-item .drop-menu-desktop-item-right {
              width: 25%;
              margin-right: 25%; }
              header .desktop-menu .drop-menu-desktop-wrapper .drop-menu-desktop .drop-menu-desktop-text .drop-menu-desktop-item .drop-menu-desktop-item-left .drop-menu-desktop-single-item, header .desktop-menu .drop-menu-desktop-wrapper .drop-menu-desktop .drop-menu-desktop-text .drop-menu-desktop-item .drop-menu-desktop-item-right .drop-menu-desktop-single-item {
                width: 100%;
                padding: 10px 0;
                margin-right: 40px; }
                header .desktop-menu .drop-menu-desktop-wrapper .drop-menu-desktop .drop-menu-desktop-text .drop-menu-desktop-item .drop-menu-desktop-item-left .drop-menu-desktop-single-item:hover, header .desktop-menu .drop-menu-desktop-wrapper .drop-menu-desktop .drop-menu-desktop-text .drop-menu-desktop-item .drop-menu-desktop-item-right .drop-menu-desktop-single-item:hover {
                  border-bottom: 1px solid orange; }
                header .desktop-menu .drop-menu-desktop-wrapper .drop-menu-desktop .drop-menu-desktop-text .drop-menu-desktop-item .drop-menu-desktop-item-left .drop-menu-desktop-single-item p, header .desktop-menu .drop-menu-desktop-wrapper .drop-menu-desktop .drop-menu-desktop-text .drop-menu-desktop-item .drop-menu-desktop-item-right .drop-menu-desktop-single-item p {
                  font-size: 20px;
                  color: #383838;
                  letter-spacing: 0;
                  line-height: 30px; }
                  @media screen and (max-width: 1270px) {
                    header .desktop-menu .drop-menu-desktop-wrapper .drop-menu-desktop .drop-menu-desktop-text .drop-menu-desktop-item .drop-menu-desktop-item-left .drop-menu-desktop-single-item p, header .desktop-menu .drop-menu-desktop-wrapper .drop-menu-desktop .drop-menu-desktop-text .drop-menu-desktop-item .drop-menu-desktop-item-right .drop-menu-desktop-single-item p {
                      font-size: 15px;
                      line-height: 15px; } }
        header .desktop-menu .drop-menu-desktop-wrapper .drop-menu-desktop .drop-menu-desktop-img {
          width: 40%;
          display: flex;
          justify-content: flex-end; }
          header .desktop-menu .drop-menu-desktop-wrapper .drop-menu-desktop .drop-menu-desktop-img .img-wrapper {
            width: 405px;
            height: 470px;
            background-color: lightgreen;
            display: flex; }
            header .desktop-menu .drop-menu-desktop-wrapper .drop-menu-desktop .drop-menu-desktop-img .img-wrapper p {
              font-size: 2.1vw;
              color: #FFFFFF;
              letter-spacing: 0;
              text-align: center;
              line-height: 40px;
              margin: auto; }

.quality {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 5.2vw;
  margin-bottom: 8.8vw;
  position: relative; }
  .quality .quality-text {
    position: absolute;
    left: 0; }
    @media screen and (max-width: 450px) {
      .quality .quality-text {
        margin: 20px;
        left: 0; } }
    .quality .quality-text h2 {
      font-size: 5.2vw;
      color: #383838;
      letter-spacing: 0;
      line-height: 5.7vw; }
      @media screen and (max-width: 1027px) {
        .quality .quality-text h2 {
          font-size: 40px;
          line-height: 45px;
          color: #FFFFFF; } }
    .quality .quality-text p {
      font-size: 40px;
      color: #383838;
      letter-spacing: 0;
      line-height: 50px;
      margin-top: 60px; }
      @media screen and (max-width: 1270px) {
        .quality .quality-text p {
          font-size: 20px;
          line-height: 25px;
          color: #FFFFFF; } }
      @media screen and (max-width: 450px) {
        .quality .quality-text p {
          display: none; } }
    .quality .quality-text .quality-text-bottom {
      display: flex;
      margin-top: 45px; }
      @media screen and (max-width: 450px) {
        .quality .quality-text .quality-text-bottom {
          display: none; } }
      .quality .quality-text .quality-text-bottom .quality-arrow {
        display: flex;
        flex-direction: column;
        margin-top: 22px;
        color: #383838; }
        .quality .quality-text .quality-text-bottom .quality-arrow .q-arrow.active {
          color: #FF5201; }
        .quality .quality-text .quality-text-bottom .quality-arrow i {
          font-size: 50px;
          margin-bottom: 20px; }
          @media screen and (max-width: 1270px) {
            .quality .quality-text .quality-text-bottom .quality-arrow i {
              font-size: 25px; } }
          @media screen and (max-width: 1027px) {
            .quality .quality-text .quality-text-bottom .quality-arrow i {
              color: #FFFFFF; } }
      .quality .quality-text .quality-text-bottom small {
        width: 22%;
        margin-left: 100px;
        font-size: 20px;
        color: #383838;
        letter-spacing: 0;
        line-height: 30px; }
        @media screen and (max-width: 1270px) {
          .quality .quality-text .quality-text-bottom small {
            font-size: 15px;
            line-height: 20px;
            color: #FFFFFF; } }
  .quality .quality-img {
    min-height: 400px; }
    .quality .quality-img img {
      width: 100%;
      height: 100%; }
  .quality .quality-arrow-mobile {
    color: #383838;
    position: absolute;
    right: 0;
    bottom: 0;
    display: none;
    background-color: white;
    width: 40px;
    text-align: center; }
    .quality .quality-arrow-mobile i {
      display: block;
      margin: 10px 0;
      font-size: 30px; }
    .quality .quality-arrow-mobile .q-arrow.active {
      color: #FF5201; }
    @media screen and (max-width: 450px) {
      .quality .quality-arrow-mobile {
        display: block; } }

.quality-text-bottom-mobile {
  display: none;
  margin-left: 26%;
  margin-bottom: 20px; }
  @media screen and (max-width: 450px) {
    .quality-text-bottom-mobile {
      display: block; } }
  .quality-text-bottom-mobile p {
    font-size: 25px;
    color: #383838;
    letter-spacing: 0;
    line-height: 28px; }
  .quality-text-bottom-mobile .kutv {
    font-size: 16px;
    color: #383838;
    letter-spacing: 0;
    line-height: 22px;
    margin: 18px; }

.mobile-insert-wrapper {
  width: 100%;
  text-align: center;
  padding: 20px;
  display: none; }
  @media screen and (max-width: 450px) {
    .mobile-insert-wrapper {
      display: block; } }
  .mobile-insert-wrapper .mobile-insert {
    margin-bottom: 20px; }
    .mobile-insert-wrapper .mobile-insert .insert-store, .mobile-insert-wrapper .mobile-insert .insert-contact {
      display: inline-block;
      padding: 10px 45px;
      font-size: 10px;
      color: #FFFFFF; }
      .mobile-insert-wrapper .mobile-insert .insert-store i, .mobile-insert-wrapper .mobile-insert .insert-contact i {
        display: inline; }
      .mobile-insert-wrapper .mobile-insert .insert-store p, .mobile-insert-wrapper .mobile-insert .insert-contact p {
        display: inline; }
    .mobile-insert-wrapper .mobile-insert .insert-store {
      border-radius: 20px 0 0 20px;
      background: #383838;
      margin-right: -5px; }
    .mobile-insert-wrapper .mobile-insert .insert-contact {
      border-radius: 0 20px 20px 0;
      background: lightgrey; }

.configura {
  position: relative;
  margin-bottom: 14.6vw; }
  @media screen and (max-width: 450px) {
    .configura {
      margin-bottom: 200px; } }
  .configura .configura-text h2 {
    font-size: 7.8vw;
    color: #383838;
    letter-spacing: 0;
    line-height: 4.6vw;
    margin-bottom: 4.2vw; }
    @media screen and (max-width: 450px) {
      .configura .configura-text h2 {
        font-size: 40px;
        line-height: 40px; } }
  .configura .configura-text .conf-one {
    margin-left: 8%; }
    @media screen and (max-width: 450px) {
      .configura .configura-text .conf-one {
        margin-left: 25%; } }
  .configura .configura-text .conf-two {
    margin-left: 21%; }
    @media screen and (max-width: 450px) {
      .configura .configura-text .conf-two {
        margin-left: 17%; } }
  .configura .configura-text .conf-three {
    margin-left: 33%;
    display: flex; }
    @media screen and (max-width: 450px) {
      .configura .configura-text .conf-three {
        margin-left: 53%; } }
    .configura .configura-text .conf-three small {
      width: 25%;
      margin-left: 13%;
      font-size: 20px;
      color: #383838;
      letter-spacing: 0;
      line-height: 30px; }
      @media screen and (max-width: 1610px) {
        .configura .configura-text .conf-three small {
          width: 40%; } }
      @media screen and (max-width: 1610px) {
        .configura .configura-text .conf-three small {
          font-size: 15px;
          line-height: 20px; } }
      @media screen and (max-width: 768px) {
        .configura .configura-text .conf-three small {
          width: 50%; } }
      @media screen and (max-width: 450px) {
        .configura .configura-text .conf-three small {
          display: none; } }
  .configura button {
    background: #FF5201;
    border-radius: 20px;
    font-size: 20px;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 30px;
    margin-left: 45%;
    padding: 2px 30px;
    position: relative;
    left: 0%;
    top: -44px; }
    @media screen and (max-width: 1610px) {
      .configura button {
        font-size: 10px;
        line-height: 5px;
        padding: 5px 10px;
        border-radius: 20px; } }
    @media screen and (max-width: 1027px) {
      .configura button {
        margin-left: 30%; } }
    @media screen and (max-width: 450px) {
      .configura button {
        display: none; } }
  .configura .configura-img {
    position: absolute;
    top: 39%;
    right: 53%;
    width: 55%; }
    @media screen and (max-width: 450px) {
      .configura .configura-img {
        top: 68%;
        right: 0%;
        width: 95%; } }
    .configura .configura-img img {
      width: 100%; }

.configura-text-bottom-mobile {
  width: 100%;
  padding: 0px 70px;
  display: none; }
  @media screen and (max-width: 450px) {
    .configura-text-bottom-mobile {
      display: block; } }
  .configura-text-bottom-mobile p {
    font-size: 16px;
    color: #383838;
    letter-spacing: 0;
    line-height: 22px; }
  .configura-text-bottom-mobile button {
    background: #FF5201;
    color: #FFFFFF;
    font-size: 15px;
    padding: 5px 40px;
    border-radius: 20px;
    margin: 20px 0; }

.show-me-one {
  width: 100%;
  height: 300px;
  position: relative;
  margin: 7.8vw 0; }
  .show-me-one img {
    width: 100%;
    height: 100%; }
  @media screen and (max-width: 450px) {
    .show-me-one .america, .show-me-one .tocca {
      display: none; } }
  .show-me-one .america-mobile, .show-me-one .tocca-mobile {
    display: none; }
    @media screen and (max-width: 450px) {
      .show-me-one .america-mobile, .show-me-one .tocca-mobile {
        display: block; } }
  .show-me-one h2 {
    font-size: 60px;
    color: #FFFFFF;
    letter-spacing: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
    @media screen and (max-width: 1027px) {
      .show-me-one h2 {
        font-size: 40px;
        line-height: 40px; } }
  .show-me-one button {
    background: #FF5201;
    border-radius: 20px;
    font-size: 20px;
    color: #FFFFFF;
    letter-spacing: 0;
    padding: 2px 30px;
    position: absolute;
    left: 50%;
    bottom: -18px;
    transform: translateX(-50%); }
    @media screen and (max-width: 1610px) {
      .show-me-one button {
        font-size: 15px;
        padding: 5px 40px;
        border-radius: 20px;
        margin: 20px 0;
        bottom: -35px; } }

.show-two {
  margin: 100px 0; }

.carosel-one {
  width: 100%; }
  .carosel-one .carosel-top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid black; }
    .carosel-one .carosel-top h3 {
      font-size: 30px;
      color: #383838;
      letter-spacing: 0;
      line-height: 40px; }
      @media screen and (max-width: 450px) {
        .carosel-one .carosel-top h3 {
          font-size: 25px;
          line-height: 20px; } }
    .carosel-one .carosel-top .carosel-arrow, .carosel-one .carosel-top .carosel-arrow-two {
      display: flex;
      align-items: center; }
      .carosel-one .carosel-top .carosel-arrow .slick-arrow, .carosel-one .carosel-top .carosel-arrow-two .slick-arrow {
        margin: 0 10px;
        font-size: 40px;
        color: #383838; }
      .carosel-one .carosel-top .carosel-arrow .slick-arrow.active, .carosel-one .carosel-top .carosel-arrow-two .slick-arrow.active {
        color: #FF5201; }
  .carosel-one .slider, .carosel-one .slider-two {
    margin: 20px 0; }
    .carosel-one .slider .carosel-item, .carosel-one .slider-two .carosel-item {
      width: 380px;
      margin: 0 10px; }
      .carosel-one .slider .carosel-item .carosel-pic, .carosel-one .slider-two .carosel-item .carosel-pic {
        width: 100%;
        margin: 20px 0; }
        .carosel-one .slider .carosel-item .carosel-pic img, .carosel-one .slider-two .carosel-item .carosel-pic img {
          width: 100%;
          height: 100%; }
      .carosel-one .slider .carosel-item small, .carosel-one .slider-two .carosel-item small {
        font-size: 14px;
        color: #383838;
        letter-spacing: 0;
        line-height: 24px; }
      .carosel-one .slider .carosel-item h4, .carosel-one .slider-two .carosel-item h4 {
        font-size: 30px;
        color: #383838;
        letter-spacing: 0;
        line-height: 40px; }
        @media screen and (max-width: 1270px) {
          .carosel-one .slider .carosel-item h4, .carosel-one .slider-two .carosel-item h4 {
            font-size: 20px;
            line-height: 25px; } }
      .carosel-one .slider .carosel-item .carosel-two, .carosel-one .slider-two .carosel-item .carosel-two {
        margin-left: 25px; }
        @media screen and (max-width: 450px) {
          .carosel-one .slider .carosel-item .carosel-two, .carosel-one .slider-two .carosel-item .carosel-two {
            margin-left: 0; } }
        .carosel-one .slider .carosel-item .carosel-two .number, .carosel-one .slider-two .carosel-item .carosel-two .number {
          font-size: 16px;
          color: #FF5201;
          letter-spacing: 0;
          line-height: 26px;
          margin-bottom: 5px; }
        .carosel-one .slider .carosel-item .carosel-two h3, .carosel-one .slider-two .carosel-item .carosel-two h3 {
          font-size: 30px;
          color: #383838;
          letter-spacing: 0;
          line-height: 40px; }
          @media screen and (max-width: 1270px) {
            .carosel-one .slider .carosel-item .carosel-two h3, .carosel-one .slider-two .carosel-item .carosel-two h3 {
              font-size: 20px;
              line-height: 25px; } }
        .carosel-one .slider .carosel-item .carosel-two p, .carosel-one .slider-two .carosel-item .carosel-two p {
          font-size: 16px;
          color: #383838;
          letter-spacing: 0;
          line-height: 26px;
          margin: 1.6vw 0 3.2vw 0; }
        .carosel-one .slider .carosel-item .carosel-two button, .carosel-one .slider-two .carosel-item .carosel-two button {
          background: #FF5201;
          border-radius: 20px;
          font-size: 20px;
          color: #FFFFFF;
          letter-spacing: 0;
          padding: 2px 30px;
          margin-top: 1.6vw; }

.mobile-menu-wrapper {
  display: none; }
  @media screen and (max-width: 767px) {
    .mobile-menu-wrapper {
      display: block; } }
  .mobile-menu-wrapper .mobile-menu {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    padding: 22.5px 20px;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; }
    .mobile-menu-wrapper .mobile-menu .mobile-logo {
      max-width: 170px; }
      .mobile-menu-wrapper .mobile-menu .mobile-logo img {
        width: 100%; }
    .mobile-menu-wrapper .mobile-menu .mobile-icons {
      display: flex; }
      .mobile-menu-wrapper .mobile-menu .mobile-icons i {
        color: #FF5201;
        font-size: 25px; }
      .mobile-menu-wrapper .mobile-menu .mobile-icons .hamburger-menu {
        width: 30px;
        height: 25px;
        margin-left: 30px;
        margin-top: 3px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        transition: .5s; }
        .mobile-menu-wrapper .mobile-menu .mobile-icons .hamburger-menu .h-line-one {
          width: 100%;
          border: 1px solid #383838;
          transition: .3s; }
          .mobile-menu-wrapper .mobile-menu .mobile-icons .hamburger-menu .h-line-one.open {
            transform: rotate(-30deg); }
        .mobile-menu-wrapper .mobile-menu .mobile-icons .hamburger-menu .h-line-two {
          width: 100%;
          border: 1px solid #383838;
          transition: .3s; }
          .mobile-menu-wrapper .mobile-menu .mobile-icons .hamburger-menu .h-line-two.open {
            transform: rotate(30deg);
            margin-top: -11px; }
        .mobile-menu-wrapper .mobile-menu .mobile-icons .hamburger-menu .h-line-three {
          width: 100%;
          border: 1px solid #FF5201; }
          .mobile-menu-wrapper .mobile-menu .mobile-icons .hamburger-menu .h-line-three.open {
            margin-top: 3px; }

.drop-down-menu-mobile {
  margin-top: 80px;
  background-color: white;
  display: none;
  overflow: auto; }
  .drop-down-menu-mobile .drop-down-menu-mobile-top {
    display: flex;
    justify-content: space-between;
    padding: 20px; }
    .drop-down-menu-mobile .drop-down-menu-mobile-top p {
      font-size: 14px;
      color: #383838;
      letter-spacing: 0;
      line-height: 20px; }
    .drop-down-menu-mobile .drop-down-menu-mobile-top .mobile-dropdown-icon i {
      color: #FF5201;
      font-size: 25px;
      margin-left: 30px; }
  .drop-down-menu-mobile .drop-down-menu-mobile-main {
    padding: 25px 20px; }
    .drop-down-menu-mobile .drop-down-menu-mobile-main .main-mobile-dropdown-item {
      display: flex;
      justify-content: space-between;
      margin: 10px 0; }
      .drop-down-menu-mobile .drop-down-menu-mobile-main .main-mobile-dropdown-item h3 {
        font-size: 30px;
        color: #383838;
        letter-spacing: 0;
        line-height: 40px; }
      .drop-down-menu-mobile .drop-down-menu-mobile-main .main-mobile-dropdown-item i {
        font-size: 20px;
        color: #383838;
        margin-top: 10px; }
      .drop-down-menu-mobile .drop-down-menu-mobile-main .main-mobile-dropdown-item .open-mat.opened {
        transform: rotate(90deg);
        margin-right: 10px; }
  .drop-down-menu-mobile .drop-down-menu-mobile-bottom {
    padding: 20px; }
    .drop-down-menu-mobile .drop-down-menu-mobile-bottom .bottom-mobile-dropdown-item {
      margin: 10px 0; }
      .drop-down-menu-mobile .drop-down-menu-mobile-bottom .bottom-mobile-dropdown-item p {
        font-size: 16px;
        color: #383838;
        letter-spacing: 0;
        line-height: 24px; }
  .drop-down-menu-mobile .drop-menu-mattress {
    padding: 10px 35px;
    display: none; }
    .drop-down-menu-mobile .drop-menu-mattress button {
      background: #FF5201;
      border-radius: 20px;
      opacity: 0.9;
      color: white;
      padding: 10px 35px;
      margin: 20px 10%; }
    .drop-down-menu-mobile .drop-menu-mattress .drop-menu-mattress-item {
      padding: 10px 0;
      border-bottom: 1px solid grey; }
      .drop-down-menu-mobile .drop-menu-mattress .drop-menu-mattress-item p {
        font-size: 16px;
        color: #383838;
        letter-spacing: 0; }
  .drop-down-menu-mobile .drop-down-footer {
    background-color: #383838;
    color: white;
    padding: 20px; }
    .drop-down-menu-mobile .drop-down-footer .drop-down-footer-top {
      display: flex;
      justify-content: space-between;
      padding: 25px 0;
      border-bottom: 1px solid white; }
      .drop-down-menu-mobile .drop-down-footer .drop-down-footer-top p {
        font-size: 16px;
        color: #FFFFFF;
        letter-spacing: 0;
        line-height: 24px; }
    .drop-down-menu-mobile .drop-down-footer .drop-down-footer-main {
      display: flex;
      justify-content: space-between;
      padding: 25px 0; }
      .drop-down-menu-mobile .drop-down-footer .drop-down-footer-main p {
        font-size: 12px;
        color: #FFFFFF;
        letter-spacing: 0;
        line-height: 16px; }
      .drop-down-menu-mobile .drop-down-footer .drop-down-footer-main .footer-mobile-tel-num {
        text-align: right; }
    .drop-down-menu-mobile .drop-down-footer .drop-down-footer-main-bottom {
      width: 100%;
      display: flex;
      justify-content: center; }
      .drop-down-menu-mobile .drop-down-footer .drop-down-footer-main-bottom .search-bar {
        background: #FFFFFF;
        border-radius: 25px;
        width: 80%;
        height: 40px;
        margin-top: 50px; }
        .drop-down-menu-mobile .drop-down-footer .drop-down-footer-main-bottom .search-bar i {
          color: #383838;
          line-height: 40px;
          margin-left: 15px; }

.settore {
  width: 100%;
  position: relative;
  margin: 7.8vw 0; }
  @media screen and (max-width: 450px) {
    .settore {
      margin-top: 200px; } }
  .settore .settore-main {
    display: flex;
    justify-content: flex-end;
    position: relative; }
    .settore .settore-main .settore-main-text {
      position: absolute;
      left: 0;
      top: 85px; }
      @media screen and (max-width: 450px) {
        .settore .settore-main .settore-main-text {
          top: -95px;
          left: 50%;
          transform: translateX(-50%); } }
      .settore .settore-main .settore-main-text h2 {
        font-size: 10.4vw;
        color: #383838;
        letter-spacing: 0;
        line-height: 10.9vw; }
        @media screen and (max-width: 450px) {
          .settore .settore-main .settore-main-text h2 {
            font-size: 60px;
            line-height: 60px; } }
    .settore .settore-main .settore-img {
      min-height: 400px; }
      .settore .settore-main .settore-img img {
        width: 100%;
        height: 100%; }
  .settore .settore-text {
    display: flex;
    padding: 50px 0; }
    @media screen and (max-width: 850px) {
      .settore .settore-text {
        flex-direction: column; } }
    .settore .settore-text .settore-text-item-first {
      width: 28%;
      margin-right: 10.7vw; }
    .settore .settore-text .settore-text-item-second {
      width: 50%; }
    @media screen and (max-width: 850px) {
      .settore .settore-text .settore-text-item-first, .settore .settore-text .settore-text-item-second {
        width: 100%;
        padding: 0 20px; } }
    .settore .settore-text .settore-text-item-first p, .settore .settore-text .settore-text-item-second p {
      margin: 20px 0;
      font-size: 16px;
      color: #404040;
      letter-spacing: 0;
      line-height: 26px; }
      .settore .settore-text .settore-text-item-first p.settore-text-strong, .settore .settore-text .settore-text-item-second p.settore-text-strong {
        font-size: 20px;
        color: #383838;
        letter-spacing: 0;
        line-height: 30px; }
    .settore .settore-text .settore-text-item-first button, .settore .settore-text .settore-text-item-second button {
      background: #FF5201;
      border-radius: 20px;
      font-size: 20px;
      color: #FFFFFF;
      letter-spacing: 0;
      padding: 2px 30px;
      margin-top: 30px; }

.newsletter {
  width: 100%;
  padding: 2vw 0 10vw 0; }
  @media screen and (max-width: 450px) {
    .newsletter {
      padding: 5vw 20px; } }
  .newsletter .newsletter-top {
    display: flex; }
    @media screen and (max-width: 850px) {
      .newsletter .newsletter-top {
        flex-direction: column; } }
    .newsletter .newsletter-top .news-top-text {
      width: 50%; }
      @media screen and (max-width: 850px) {
        .newsletter .newsletter-top .news-top-text {
          width: 100%;
          text-align: center; } }
      .newsletter .newsletter-top .news-top-text h3 {
        font-size: 80px;
        color: #383838;
        letter-spacing: 0;
        line-height: 90px; }
        @media screen and (max-width: 450px) {
          .newsletter .newsletter-top .news-top-text h3 {
            font-size: 40px;
            line-height: 40px; } }
      .newsletter .newsletter-top .news-top-text .keep-update-mobile {
        display: none; }
        @media screen and (max-width: 850px) {
          .newsletter .newsletter-top .news-top-text .keep-update-mobile {
            display: block; } }
        @media screen and (max-width: 450px) {
          .newsletter .newsletter-top .news-top-text .keep-update-mobile {
            margin-bottom: 20px; } }
    .newsletter .newsletter-top .news-form {
      display: flex;
      flex-direction: column;
      width: 50%;
      padding-top: 3vw; }
      @media screen and (max-width: 850px) {
        .newsletter .newsletter-top .news-form {
          margin: 0;
          width: 100%; } }
      @media screen and (max-width: 450px) {
        .newsletter .newsletter-top .news-form {
          margin: 20px 0; } }
      .newsletter .newsletter-top .news-form small {
        font-size: 16px;
        color: #383838;
        letter-spacing: 0;
        line-height: 26px; }
      @media screen and (max-width: 850px) {
        .newsletter .newsletter-top .news-form .keep-update-desk {
          display: none; } }
      .newsletter .newsletter-top .news-form input {
        opacity: 0.3;
        font-size: 30px;
        color: #383838;
        letter-spacing: 0;
        line-height: 26px;
        border-bottom: 1px solid grey;
        width: 100%;
        margin: 100px 0 30px 0;
        padding: 10px 0; }
        @media screen and (max-width: 850px) {
          .newsletter .newsletter-top .news-form input {
            text-align: center;
            margin-top: 0;
            padding: 0; } }
      .newsletter .newsletter-top .news-form .news-under-input {
        display: flex;
        justify-content: space-between; }
        .newsletter .newsletter-top .news-form .news-under-input button {
          background: #FF5201;
          border-radius: 20px;
          font-size: 20px;
          color: #FFFFFF;
          letter-spacing: 0;
          padding: 2px 30px; }
  .newsletter .news-social {
    margin-top: 5.2vw; }
    @media screen and (max-width: 850px) {
      .newsletter .news-social {
        width: 100%;
        text-align: center; } }
    .newsletter .news-social ul {
      display: flex; }
      @media screen and (max-width: 850px) {
        .newsletter .news-social ul {
          justify-content: space-between; } }
      .newsletter .news-social ul li {
        font-size: 20px;
        color: #383838;
        letter-spacing: 0;
        line-height: 30px;
        margin-right: 3.1vw;
        list-style: none; }
        @media screen and (max-width: 450px) {
          .newsletter .news-social ul li {
            font-size: 16px;
            margin-right: 0; } }

.last-main {
  width: 100%;
  display: flex; }
  @media screen and (max-width: 850px) {
    .last-main {
      flex-direction: column;
      margin-top: 70px; } }
  .last-main .last-main-left {
    width: 40%; }
    @media screen and (max-width: 850px) {
      .last-main .last-main-left {
        width: 100%;
        text-align: center; } }
    .last-main .last-main-left .last-main-logo {
      margin-bottom: 50px;
      margin-top: -30px; }
      .last-main .last-main-left .last-main-logo img {
        width: 70%; }
    .last-main .last-main-left .last-main-info {
      width: 75%; }
      @media screen and (max-width: 850px) {
        .last-main .last-main-left .last-main-info {
          width: 100%;
          padding: 0 10%; } }
      .last-main .last-main-left .last-main-info p {
        font-size: 16px;
        color: #383838;
        letter-spacing: 0;
        line-height: 26px; }
      @media screen and (max-width: 850px) {
        .last-main .last-main-left .last-main-info .tel-numbers {
          padding: 30px 20%; } }
  .last-main .last-main-top-right {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    @media screen and (max-width: 850px) {
      .last-main .last-main-top-right {
        width: 100%;
        text-align: center; } }
    .last-main .last-main-top-right ul {
      display: flex;
      justify-content: flex-end;
      list-style: none; }
      @media screen and (max-width: 850px) {
        .last-main .last-main-top-right ul {
          flex-direction: column;
          justify-content: center; } }
    .last-main .last-main-top-right .last-main-top-list-one li {
      font-size: 20px;
      color: #383838;
      letter-spacing: 0;
      line-height: 40px;
      margin-left: 40px; }
      @media screen and (max-width: 850px) {
        .last-main .last-main-top-right .last-main-top-list-one li {
          margin: 0; } }
    .last-main .last-main-top-right .last-main-top-list-two li {
      font-size: 16px;
      color: #383838;
      letter-spacing: 0;
      line-height: 40px;
      margin-left: 50px; }
      @media screen and (max-width: 850px) {
        .last-main .last-main-top-right .last-main-top-list-two li {
          display: none; } }

.footer-bottom {
  width: 100vw;
  padding: 10px 90px;
  background-color: #383838;
  display: flex;
  justify-content: space-between; }
  @media screen and (max-width: 850px) {
    .footer-bottom {
      flex-direction: column;
      padding: 40px 70px; } }
  .footer-bottom .footer-bottom-left {
    width: 40%;
    display: flex;
    align-items: center; }
    @media screen and (max-width: 850px) {
      .footer-bottom .footer-bottom-left {
        width: 100%;
        justify-content: center; } }
    .footer-bottom .footer-bottom-left small {
      font-size: 10px;
      color: #FFFFFF;
      letter-spacing: 0;
      line-height: 26px; }
    .footer-bottom .footer-bottom-left.foot-small-mobile {
      display: none;
      text-align: center;
      margin-top: 30px; }
      @media screen and (max-width: 850px) {
        .footer-bottom .footer-bottom-left.foot-small-mobile {
          display: block; } }
    @media screen and (max-width: 850px) {
      .footer-bottom .footer-bottom-left.foot-small-desk {
        display: none; } }
  .footer-bottom .footer-bottom-right {
    width: 60%; }
    @media screen and (max-width: 850px) {
      .footer-bottom .footer-bottom-right {
        width: 100%; } }
    .footer-bottom .footer-bottom-right ul {
      display: flex;
      justify-content: flex-end;
      list-style: none; }
      @media screen and (max-width: 850px) {
        .footer-bottom .footer-bottom-right ul {
          flex-direction: column;
          align-items: center; } }
      .footer-bottom .footer-bottom-right ul li {
        font-size: 16px;
        color: #FFFFFF;
        letter-spacing: 0;
        line-height: 40px;
        margin-left: 10%; }
        @media screen and (max-width: 850px) {
          .footer-bottom .footer-bottom-right ul li {
            margin-left: 0; } }

/*# sourceMappingURL=app.css.map */
