.configura{
    position: relative;
    margin-bottom: 14.6vw;

    @media screen and (max-width: 450px){
        margin-bottom: 200px;
    }

    .configura-text{

        h2{
            font-size: 7.8vw;
            color: #383838;
            letter-spacing: 0;
            line-height: 4.6vw;
            margin-bottom: 4.2vw;

            @media screen and (max-width: 450px){
                font-size: 40px;
                line-height: 40px;
            }
        }

        .conf-one{
            margin-left: 8%;

            @media screen and (max-width: 450px){
                margin-left: 25%;
            }
        }

        .conf-two{
            margin-left: 21%;

            @media screen and (max-width: 450px){
                margin-left: 17%;
            }
        }

        .conf-three{
            margin-left: 33%;
            display: flex;

            @media screen and (max-width: 450px){
                margin-left: 53%;
            }

            small{
                width: 25%;
                margin-left: 13%;
                font-size: 20px;
                color: #383838;
                letter-spacing: 0;
                line-height: 30px;

                @media screen and (max-width: 1610px){
                    width: 40%;
                }

                @media screen and (max-width: 1610px){
                    font-size: 15px;
                    line-height: 20px;
                }

                @media screen and (max-width: 768px){
                    width: 50%;
                }

                @media screen and (max-width: 450px){
                    display: none;
                }
            }
        }
    }

    button{
        background: #FF5201;
        border-radius: 20px;
        font-size: 20px;
        color: #FFFFFF;
        letter-spacing: 0;
        line-height: 30px;
        margin-left: 45%;
        padding: 2px 30px;
        position: relative;
        left: 0%;
        top: -44px;

        @media screen and (max-width: 1610px){
            font-size: 10px;
            line-height: 5px;
            padding: 5px 10px;
            border-radius: 20px;
        }

        @media screen and (max-width: 1027px){
            margin-left: 30%;
        }

        @media screen and (max-width: 450px){
            display: none;
        }
    }

    .configura-img{
        position: absolute;
        top: 39%;
        right: 53%;
        // width: 100%;

        @media screen and (max-width: 450px){
            top: 68%;
            right: 0%;
            width: 95%;
        }

        img{
            @media screen and (max-width: 450px){
                width: 100%;
            }
        }
    }
}

.configura-text-bottom-mobile{
    width: 100%;
    padding: 0px 70px;
    display: none;

    @media screen and (max-width: 450px){
        display: block;
    }

    p{
        font-size: 16px;
        color: #383838;
        letter-spacing: 0;
        line-height: 22px;
    }

    button{
        background: #FF5201;
        color: #FFFFFF;
        font-size: 15px;
        padding: 5px 40px;
        border-radius: 20px;
        margin: 20px 0;
    }

}

.show-me-one{
    width: 100%;
    height: 300px;
    position: relative;
    margin: 7.8vw 0;

    img{
        width: 100%;
        height: 100%;
    }

    .america,.tocca{
        @media screen and (max-width: 450px){
            display: none;
        }
    }

    .america-mobile,.tocca-mobile{
        display: none;

        @media screen and (max-width: 450px){
            display: block;
        }
    }

    h2{
        font-size: 60px;
        color: #FFFFFF;
        letter-spacing: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;

        @media screen and (max-width: 1027px){
            font-size: 40px;
            line-height: 40px;
        }
    }

    button{
        background: #FF5201;
        border-radius: 20px;
        font-size: 20px;
        color: #FFFFFF;
        letter-spacing: 0;
        padding: 2px 30px;
        position: absolute;
        left: 50%;
        bottom: -18px;
        transform: translateX(-50%);

        @media screen and (max-width: 1610px){
            font-size: 15px;
            padding: 5px 40px;
            border-radius: 20px;
            margin: 20px 0;
            bottom: -35px;
        }
    }
}

.show-two{
    margin: 100px 0;
}
