.configura {
  position: relative;
  margin-bottom: 14.6vw; }
  @media screen and (max-width: 450px) {
    .configura {
      margin-bottom: 200px; } }
  .configura .configura-text h2 {
    font-size: 7.8vw;
    color: #383838;
    letter-spacing: 0;
    line-height: 4.6vw;
    margin-bottom: 4.2vw; }
    @media screen and (max-width: 450px) {
      .configura .configura-text h2 {
        font-size: 40px;
        line-height: 40px; } }
  .configura .configura-text .conf-one {
    margin-left: 8%; }
    @media screen and (max-width: 450px) {
      .configura .configura-text .conf-one {
        margin-left: 25%; } }
  .configura .configura-text .conf-two {
    margin-left: 21%; }
    @media screen and (max-width: 450px) {
      .configura .configura-text .conf-two {
        margin-left: 17%; } }
  .configura .configura-text .conf-three {
    margin-left: 33%;
    display: flex; }
    @media screen and (max-width: 450px) {
      .configura .configura-text .conf-three {
        margin-left: 53%; } }
    .configura .configura-text .conf-three small {
      width: 25%;
      margin-left: 13%;
      font-size: 20px;
      color: #383838;
      letter-spacing: 0;
      line-height: 30px; }
      @media screen and (max-width: 1610px) {
        .configura .configura-text .conf-three small {
          width: 40%; } }
      @media screen and (max-width: 1610px) {
        .configura .configura-text .conf-three small {
          font-size: 15px;
          line-height: 20px; } }
      @media screen and (max-width: 768px) {
        .configura .configura-text .conf-three small {
          width: 50%; } }
      @media screen and (max-width: 450px) {
        .configura .configura-text .conf-three small {
          display: none; } }
  .configura button {
    background: #FF5201;
    border-radius: 20px;
    font-size: 20px;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 30px;
    margin-left: 45%;
    padding: 2px 30px;
    position: relative;
    left: 0%;
    top: -44px; }
    @media screen and (max-width: 1610px) {
      .configura button {
        font-size: 10px;
        line-height: 5px;
        padding: 5px 10px;
        border-radius: 20px; } }
    @media screen and (max-width: 1027px) {
      .configura button {
        margin-left: 30%; } }
    @media screen and (max-width: 450px) {
      .configura button {
        display: none; } }
  .configura .configura-img {
    position: absolute;
    top: 39%;
    right: 53%; }
    @media screen and (max-width: 450px) {
      .configura .configura-img {
        top: 68%;
        right: 0%;
        width: 95%; } }
    @media screen and (max-width: 450px) {
      .configura .configura-img img {
        width: 100%; } }

.configura-text-bottom-mobile {
  width: 100%;
  padding: 0px 70px;
  display: none; }
  @media screen and (max-width: 450px) {
    .configura-text-bottom-mobile {
      display: block; } }
  .configura-text-bottom-mobile p {
    font-size: 16px;
    color: #383838;
    letter-spacing: 0;
    line-height: 22px; }
  .configura-text-bottom-mobile button {
    background: #FF5201;
    color: #FFFFFF;
    font-size: 15px;
    padding: 5px 40px;
    border-radius: 20px;
    margin: 20px 0; }

.show-me-one {
  width: 100%;
  height: 300px;
  position: relative;
  margin: 7.8vw 0; }
  .show-me-one img {
    width: 100%;
    height: 100%; }
  .show-me-one h2 {
    font-size: 60px;
    color: #FFFFFF;
    letter-spacing: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    @media screen and (max-width: 1027px) {
      .show-me-one h2 {
        font-size: 40px;
        line-height: 40px; } }
  .show-me-one button {
    background: #FF5201;
    border-radius: 20px;
    font-size: 20px;
    color: #FFFFFF;
    letter-spacing: 0;
    padding: 2px 30px;
    position: absolute;
    left: 50%;
    bottom: -18px;
    transform: translateX(-50%); }
    @media screen and (max-width: 1610px) {
      .show-me-one button {
        font-size: 15px;
        padding: 5px 40px;
        border-radius: 20px;
        margin: 20px 0;
        bottom: -35px; } }

/*# sourceMappingURL=_configura.css.map */
