header {
  position: relative;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000; }
  header .header-top {
    width: 100vw;
    height: 50px;
    padding: 0 90px;
    background-color: #383838;
    display: flex;
    justify-content: space-between; }
    @media screen and (max-width: 1060px) {
      header .header-top {
        padding: 0 45px; } }
    @media screen and (max-width: 767px) {
      header .header-top {
        display: none; } }
    header .header-top .top-left-menu-item {
      width: 70%;
      margin-left: 12%; }
      header .header-top .top-left-menu-item ul li {
        display: inline;
        font-size: 14px;
        color: white;
        letter-spacing: 0;
        line-height: 50px;
        margin-left: 3.5%; }
        @media screen and (max-width: 1270px) {
          header .header-top .top-left-menu-item ul li {
            font-size: 10px; } }
    header .header-top .top-right-menu-item {
      display: flex;
      justify-content: space-between;
      width: 230px; }
      @media screen and (max-width: 1270px) {
        header .header-top .top-right-menu-item {
          width: 150px; } }
      header .header-top .top-right-menu-item div {
        line-height: 50px;
        font-size: 14px;
        color: white; }
        @media screen and (max-width: 1270px) {
          header .header-top .top-right-menu-item div {
            font-size: 10px; } }
        header .header-top .top-right-menu-item div.search {
          background-color: white;
          padding: 0 32px;
          color: #383838;
          font-size: 20px; }
          @media screen and (max-width: 1270px) {
            header .header-top .top-right-menu-item div.search {
              font-size: 15px; } }
  header .header-bottom {
    padding: 20px 90px;
    display: flex;
    background-color: white; }
    @media screen and (max-width: 1060px) {
      header .header-bottom {
        padding: 20px 45px; } }
    @media screen and (max-width: 767px) {
      header .header-bottom {
        display: none; } }
    header .header-bottom .logo img {
      max-width: 180px; }
      @media screen and (max-width: 1024px) {
        header .header-bottom .logo img {
          display: none; } }
    header .header-bottom .bottom-left {
      display: flex;
      justify-content: space-between;
      margin-left: 3.7vw;
      width: 100%; }
      header .header-bottom .bottom-left .bottom-left-menu-item {
        width: 70%; }
        header .header-bottom .bottom-left .bottom-left-menu-item .menu-it {
          display: inline;
          font-size: 20px;
          color: #383838;
          letter-spacing: 0;
          line-height: 40px;
          margin-right: 4.7%;
          padding-bottom: 25px; }
          @media screen and (max-width: 1270px) {
            header .header-bottom .bottom-left .bottom-left-menu-item .menu-it {
              font-size: 15px; } }
          header .header-bottom .bottom-left .bottom-left-menu-item .menu-it.active {
            border-bottom: 1px solid #FF5201; }
      header .header-bottom .bottom-left .bottom-right-menu-item {
        display: flex;
        justify-content: space-between;
        font-size: 20px;
        color: #383838;
        letter-spacing: 0;
        line-height: 40px; }
        @media screen and (max-width: 1270px) {
          header .header-bottom .bottom-left .bottom-right-menu-item {
            font-size: 15px; } }
        header .header-bottom .bottom-left .bottom-right-menu-item .icons {
          display: flex;
          justify-content: space-between;
          color: #FF5201; }
          header .header-bottom .bottom-left .bottom-right-menu-item .icons i {
            line-height: 40px;
            margin-left: 37px;
            font-size: 22px; }
            @media screen and (max-width: 1270px) {
              header .header-bottom .bottom-left .bottom-right-menu-item .icons i {
                font-size: 17px;
                margin-left: 20px; } }
  header .drop-menu-desktop-wrapper {
    display: none; }
    header .drop-menu-desktop-wrapper .drop-menu-desktop {
      width: 100%;
      background-color: white;
      position: absolute;
      padding: 70px 11%;
      display: flex;
      justify-content: space-between; }
      header .drop-menu-desktop-wrapper .drop-menu-desktop .drop-menu-desktop-text {
        width: 60%; }
        header .drop-menu-desktop-wrapper .drop-menu-desktop .drop-menu-desktop-text h2 {
          font-size: 2.1vw;
          color: #383838;
          letter-spacing: 0;
          line-height: 2.1vw; }
        header .drop-menu-desktop-wrapper .drop-menu-desktop .drop-menu-desktop-text .drop-menu-desktop-item {
          width: 100%;
          display: flex;
          margin-top: 50px; }
          header .drop-menu-desktop-wrapper .drop-menu-desktop .drop-menu-desktop-text .drop-menu-desktop-item .drop-menu-desktop-item-left, header .drop-menu-desktop-wrapper .drop-menu-desktop .drop-menu-desktop-text .drop-menu-desktop-item .drop-menu-desktop-item-right {
            width: 25%;
            margin-right: 25%; }
            header .drop-menu-desktop-wrapper .drop-menu-desktop .drop-menu-desktop-text .drop-menu-desktop-item .drop-menu-desktop-item-left .drop-menu-desktop-single-item, header .drop-menu-desktop-wrapper .drop-menu-desktop .drop-menu-desktop-text .drop-menu-desktop-item .drop-menu-desktop-item-right .drop-menu-desktop-single-item {
              width: 100%;
              padding: 10px 0;
              margin-right: 40px; }
              header .drop-menu-desktop-wrapper .drop-menu-desktop .drop-menu-desktop-text .drop-menu-desktop-item .drop-menu-desktop-item-left .drop-menu-desktop-single-item:hover, header .drop-menu-desktop-wrapper .drop-menu-desktop .drop-menu-desktop-text .drop-menu-desktop-item .drop-menu-desktop-item-right .drop-menu-desktop-single-item:hover {
                border-bottom: 1px solid orange; }
              header .drop-menu-desktop-wrapper .drop-menu-desktop .drop-menu-desktop-text .drop-menu-desktop-item .drop-menu-desktop-item-left .drop-menu-desktop-single-item p, header .drop-menu-desktop-wrapper .drop-menu-desktop .drop-menu-desktop-text .drop-menu-desktop-item .drop-menu-desktop-item-right .drop-menu-desktop-single-item p {
                font-size: 20px;
                color: #383838;
                letter-spacing: 0;
                line-height: 30px; }
                @media screen and (max-width: 1270px) {
                  header .drop-menu-desktop-wrapper .drop-menu-desktop .drop-menu-desktop-text .drop-menu-desktop-item .drop-menu-desktop-item-left .drop-menu-desktop-single-item p, header .drop-menu-desktop-wrapper .drop-menu-desktop .drop-menu-desktop-text .drop-menu-desktop-item .drop-menu-desktop-item-right .drop-menu-desktop-single-item p {
                    font-size: 15px;
                    line-height: 15px; } }
      header .drop-menu-desktop-wrapper .drop-menu-desktop .drop-menu-desktop-img {
        width: 40%;
        display: flex;
        justify-content: flex-end; }
        header .drop-menu-desktop-wrapper .drop-menu-desktop .drop-menu-desktop-img .img-wrapper {
          width: 405px;
          height: 470px;
          background-color: lightgreen;
          display: flex; }
          header .drop-menu-desktop-wrapper .drop-menu-desktop .drop-menu-desktop-img .img-wrapper p {
            font-size: 2.1vw;
            color: #FFFFFF;
            letter-spacing: 0;
            text-align: center;
            line-height: 40px;
            margin: auto; }
  header .mobile-menu-wrapper {
    display: none; }
    @media screen and (max-width: 767px) {
      header .mobile-menu-wrapper {
        display: block; } }
    header .mobile-menu-wrapper .mobile-menu {
      width: 100%;
      height: 80px;
      display: flex;
      justify-content: space-between;
      padding: 22.5px 20px;
      background-color: white;
      position: fixed;
      top: 0;
      left: 0;
      right: 0; }
      header .mobile-menu-wrapper .mobile-menu .mobile-logo {
        max-width: 170px; }
        header .mobile-menu-wrapper .mobile-menu .mobile-logo img {
          width: 100%; }
      header .mobile-menu-wrapper .mobile-menu .mobile-icons {
        display: flex; }
        header .mobile-menu-wrapper .mobile-menu .mobile-icons i {
          color: #FF5201;
          font-size: 25px; }
        header .mobile-menu-wrapper .mobile-menu .mobile-icons .hamburger-menu {
          width: 30px;
          height: 25px;
          margin-left: 30px;
          margin-top: 3px;
          display: flex;
          flex-direction: column;
          justify-content: space-around; }
          header .mobile-menu-wrapper .mobile-menu .mobile-icons .hamburger-menu .h-line-one {
            width: 100%;
            border: 1px solid #383838; }
            header .mobile-menu-wrapper .mobile-menu .mobile-icons .hamburger-menu .h-line-one.open {
              transform: rotate(-30deg); }
          header .mobile-menu-wrapper .mobile-menu .mobile-icons .hamburger-menu .h-line-two {
            width: 100%;
            border: 1px solid #383838; }
            header .mobile-menu-wrapper .mobile-menu .mobile-icons .hamburger-menu .h-line-two.open {
              transform: rotate(30deg); }
          header .mobile-menu-wrapper .mobile-menu .mobile-icons .hamburger-menu .h-line-three {
            width: 100%;
            border: 1px solid #FF5201; }

/*# sourceMappingURL=_header.css.map */
