.mobile-menu-wrapper {
  display: none; }
  @media screen and (max-width: 767px) {
    .mobile-menu-wrapper {
      display: block; } }
  .mobile-menu-wrapper .mobile-menu {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    padding: 22.5px 20px;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0; }
    .mobile-menu-wrapper .mobile-menu .mobile-logo {
      max-width: 170px; }
      .mobile-menu-wrapper .mobile-menu .mobile-logo img {
        width: 100%; }
    .mobile-menu-wrapper .mobile-menu .mobile-icons {
      display: flex; }
      .mobile-menu-wrapper .mobile-menu .mobile-icons i {
        color: #FF5201;
        font-size: 25px; }
      .mobile-menu-wrapper .mobile-menu .mobile-icons .hamburger-menu {
        width: 30px;
        height: 25px;
        margin-left: 30px;
        margin-top: 3px;
        display: flex;
        flex-direction: column;
        justify-content: space-around; }
        .mobile-menu-wrapper .mobile-menu .mobile-icons .hamburger-menu .h-line-one {
          width: 100%;
          border: 1px solid #383838; }
          .mobile-menu-wrapper .mobile-menu .mobile-icons .hamburger-menu .h-line-one.open {
            transform: rotate(-30deg); }
        .mobile-menu-wrapper .mobile-menu .mobile-icons .hamburger-menu .h-line-two {
          width: 100%;
          border: 1px solid #383838; }
          .mobile-menu-wrapper .mobile-menu .mobile-icons .hamburger-menu .h-line-two.open {
            transform: rotate(30deg); }
        .mobile-menu-wrapper .mobile-menu .mobile-icons .hamburger-menu .h-line-three {
          width: 100%;
          border: 1px solid #FF5201; }

.drop-down-menu-mobile {
  margin-top: 80px;
  background-color: white;
  display: none;
  overflow: auto; }
  .drop-down-menu-mobile .drop-down-menu-mobile-top {
    display: flex;
    justify-content: space-between;
    padding: 20px; }
    .drop-down-menu-mobile .drop-down-menu-mobile-top p {
      font-size: 14px;
      color: #383838;
      letter-spacing: 0;
      line-height: 20px; }
    .drop-down-menu-mobile .drop-down-menu-mobile-top .mobile-dropdown-icon i {
      color: #FF5201;
      font-size: 25px;
      margin-left: 20px; }
  .drop-down-menu-mobile .drop-down-menu-mobile-main {
    padding: 25px 20px; }
    .drop-down-menu-mobile .drop-down-menu-mobile-main .main-mobile-dropdown-item {
      display: flex;
      justify-content: space-between;
      margin: 10px 0; }
      .drop-down-menu-mobile .drop-down-menu-mobile-main .main-mobile-dropdown-item h3 {
        font-size: 30px;
        color: #383838;
        letter-spacing: 0;
        line-height: 40px; }
      .drop-down-menu-mobile .drop-down-menu-mobile-main .main-mobile-dropdown-item i {
        font-size: 20px;
        color: #383838;
        margin-top: 10px; }
      .drop-down-menu-mobile .drop-down-menu-mobile-main .main-mobile-dropdown-item .open-mat.opened {
        transform: rotate(90deg);
        margin-right: 10px; }
  .drop-down-menu-mobile .drop-down-menu-mobile-bottom {
    padding: 20px; }
    .drop-down-menu-mobile .drop-down-menu-mobile-bottom .bottom-mobile-dropdown-item {
      margin: 10px 0; }
      .drop-down-menu-mobile .drop-down-menu-mobile-bottom .bottom-mobile-dropdown-item p {
        font-size: 16px;
        color: #383838;
        letter-spacing: 0;
        line-height: 24px; }
  .drop-down-menu-mobile .drop-menu-mattress {
    padding: 10px 35px;
    display: none; }
    .drop-down-menu-mobile .drop-menu-mattress button {
      background: #FF5201;
      border-radius: 20px;
      opacity: 0.9;
      color: white;
      padding: 10px 35px;
      margin: 20px 10%; }
    .drop-down-menu-mobile .drop-menu-mattress .drop-menu-mattress-item {
      padding: 10px 0;
      border-bottom: 1px solid grey; }
      .drop-down-menu-mobile .drop-menu-mattress .drop-menu-mattress-item p {
        font-size: 16px;
        color: #383838;
        letter-spacing: 0; }

/*# sourceMappingURL=_mobileMenu.css.map */
