.newsletter {
  width: 100%;
  padding: 2vw 0 10vw 0; }
  @media screen and (max-width: 450px) {
    .newsletter {
      padding: 5vw 20px; } }
  .newsletter .newsletter-top {
    display: flex; }
    @media screen and (max-width: 850px) {
      .newsletter .newsletter-top {
        flex-direction: column; } }
    .newsletter .newsletter-top .news-top-text {
      width: 50%; }
      @media screen and (max-width: 850px) {
        .newsletter .newsletter-top .news-top-text {
          width: 100%;
          text-align: center; } }
      .newsletter .newsletter-top .news-top-text h3 {
        font-size: 80px;
        color: #383838;
        letter-spacing: 0;
        line-height: 90px; }
        @media screen and (max-width: 450px) {
          .newsletter .newsletter-top .news-top-text h3 {
            font-size: 40px;
            line-height: 40px; } }
      .newsletter .newsletter-top .news-top-text .keep-update-mobile {
        display: none; }
        @media screen and (max-width: 850px) {
          .newsletter .newsletter-top .news-top-text .keep-update-mobile {
            display: block; } }
        @media screen and (max-width: 450px) {
          .newsletter .newsletter-top .news-top-text .keep-update-mobile {
            margin-bottom: 20px; } }
    .newsletter .newsletter-top .news-form {
      display: flex;
      flex-direction: column;
      width: 50%;
      padding-top: 3vw; }
      @media screen and (max-width: 850px) {
        .newsletter .newsletter-top .news-form {
          margin: 0;
          width: 100%; } }
      @media screen and (max-width: 450px) {
        .newsletter .newsletter-top .news-form {
          margin: 20px 0; } }
      .newsletter .newsletter-top .news-form small {
        font-size: 16px;
        color: #383838;
        letter-spacing: 0;
        line-height: 26px; }
      @media screen and (max-width: 850px) {
        .newsletter .newsletter-top .news-form .keep-update-desk {
          display: none; } }
      .newsletter .newsletter-top .news-form input {
        opacity: 0.3;
        font-size: 30px;
        color: #383838;
        letter-spacing: 0;
        line-height: 26px;
        border-bottom: 1px solid grey;
        width: 100%;
        margin: 100px 0 30px 0;
        padding: 10px 0; }
        @media screen and (max-width: 850px) {
          .newsletter .newsletter-top .news-form input {
            text-align: center;
            margin-top: 0;
            padding: 0; } }
      .newsletter .newsletter-top .news-form .news-under-input {
        display: flex;
        justify-content: space-between; }
        .newsletter .newsletter-top .news-form .news-under-input button {
          background: #FF5201;
          border-radius: 20px;
          font-size: 20px;
          color: #FFFFFF;
          letter-spacing: 0;
          padding: 2px 30px; }
  .newsletter .news-social {
    margin-top: 5.2vw; }
    @media screen and (max-width: 850px) {
      .newsletter .news-social {
        width: 100%;
        text-align: center; } }
    .newsletter .news-social ul {
      display: flex; }
      @media screen and (max-width: 850px) {
        .newsletter .news-social ul {
          justify-content: space-between; } }
      .newsletter .news-social ul li {
        font-size: 20px;
        color: #383838;
        letter-spacing: 0;
        line-height: 30px;
        margin-right: 3.1vw;
        list-style: none; }
        @media screen and (max-width: 450px) {
          .newsletter .news-social ul li {
            font-size: 16px;
            margin-right: 0; } }

/*# sourceMappingURL=_newsletter.css.map */
